%h1= 'Films'
#hidden
  - @films.each do |film|
    .item
      .item-content
        - if film.poster?
          = image_tag film.poster.thumb
        - else
          .line-height= film.title
#container
