%h1= 'Films'
#hidden
  - @films.each do |film|
    .item{style: container_dimensions(film.poster.thumb)}
      .item-content{style: container_dimensions(film.poster.thumb)}
        = image_tag film.poster.thumb
#container
