.navbar-fix {
  padding-top: 60px;
}

#container {
  padding: 5px 3px 5px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#hidden {
  display: none;
}

.item {
  margin: 5px;
  overflow: hidden;

  img {
    border-radius: 15px;
  }
}

.item.expanded {
  padding: 10px;
  border: 2px solid #666;
  border-radius: 15px;
  background: black;
}

.item-image {
  display: inline-block;
}

.item-description {
  width: 317px;
  display: inline-block;
  margin: 0 15px;
  text-align: justify;
  vertical-align: top;
  opacity: 0;
}

.title {
  margin-bottom: 10px;
  font-size: 125%;
  text-transform: uppercase;
}

.film-description {
  margin-bottom: 15px;
}

.film-showtimes {
  position: relative;
}

.film-showtimes-index {
  position: absolute;
}

.film-showtimes-theater {
  position: absolute;
  text-align: left;
  opacity: 0;
}
