.navbar_fix {
  padding-top: 60px;
}

.item {
  width: 176px;
  height: 176px;
  margin: 5px;
}

.item.expanded {
  width: 350px;
  height: 350px;
}

.item-content {
  height: 176px;
  width: 176px;
  color: black;
  text-align: center;
  line-height: 14em;
}

#container {
  padding: 5px 3px 5px 5px;
}

#hidden {
  display: none;
}
