.navbar_fix {
  padding-top: 60px;
}

#container {
  padding: 5px 3px 5px 5px;
}

#hidden {
  display: none;
}

.item {
  margin: 5px;

  img {
    border-radius: 15px;
  }
}

.item.expanded {
  padding: 10px 0;
  border: 2px solid #666;
  border-radius: 15px;
  background: black;
}

.item-content {
  color: black;
  text-align: center;
}

.line-height {
  line-height: 14em;
}

.item-description {
  height: 0;
  margin: 15px;
  text-align: justify;
}
