.navbar_fix {
  padding-top: 60px;
}

.item {
  width: 176px;
  height: 264px;
  margin: 5px;
}

.item.expanded {
  width: 352px;
  height: 528px;
}

.item-content {
  width: 176px;
  height: 264px;
  color: black;
  text-align: center;
}

.line-height {
  line-height: 14em;
}

#container {
  padding: 5px 3px 5px 5px;
}

#hidden {
  display: none;
}
